*{
    margin: 0;
    padding: 0;
}
#unique{
   text-align: center;
   margin-top: 5%;
   margin-bottom: 5%;
}
#word{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    /* box-shadow: 2px 1px 5px 4px rgb(251, 251, 253); */
/* background-color: rgb(18, 18, 124); */
    /* box-sizing: border-box; */
}

#peach{
    background-color: black;


}
