*{
    margin:0;
    box-sizing: border-box;
}
#header{
    /* background:url(C:\Users\DELL\Pictures\pic.jpg); */
    background: url(https://www.vons.co.jp/works/uploads/warpball_signage_01.jpg);
    background-attachment: fixed;
   background-repeat: no-repeat;
   /* background-size: cover; */
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  width:100%

 

}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    background: #353535;
    line-height:40px;
    padding: 10px;
    border-radius: 60px;
}
.search-input{
    background: #353535;
    color: #fff;
    outline: none;
    border: none;
    line-height:40px;
    width: 0px;
    float: left;
    font-size:14px;
    transition: 0.7s ease;
    font-family:sans-serif;
}
.search-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    background: #353535;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color: #ff5722;
    transition: 0.5s ease;
}
.search-box:hover > .search-input{
    width: 240px;
    margin: 0px 8px;
}
.search-input:focus{
    width: 240px;
    margin: 0px 8px;
}
.search-box:hover > .search-btn{
    background: #fff;
}
.search-input:focus + .search-btn{
    background: #fff;
}



 a{
  text-decoration:none;
  color:#ff5722;
  font-family:sans-serif;
  text-transform:uppercase;
  font-size:12px;
  transition:0.4s;
}
 a:hover{
  color:#ff6b3b;
}